<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Sumon Rahman" />
    <meta name="description" content="" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>Appy App Landing Template.</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/owl.carousel.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/linearicons.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dekko&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/magnific-popup.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animate.css') }}"
    />
    <!-- Main-Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}"
    />
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
      <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- Home-Area -->
    <header class="home-area overlay angle" id="home_page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 hidden-sm col-md-5">
            <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
              <img
                src="{{ url_for('static', filename='images/progress-phone.png') }}"
                alt=""
              />
            </figure>
          </div>
          <div class="col-xs-12 col-md-7" style="text-align: center">
            <div class="space-20 hidden-xs"></div>
            <h1
              style="font-family: Dekko;margin-bottom: 0px;"
              class="wow fadeInUp"
              data-wow-delay="0.6s"
            >
              <span style="color:gold">Ham</span> or
              <span style="color:midnightblue">Spam</span>!
            </h1>
            <h3
              style="font-family: Dekko"
              class="wow fadeInUp"
              data-wow-delay="0.6s"
            >
              Let's predict if the message is Ham or Spam :)
            </h3>
            <div class="space-20"></div>
            <div class="desc wow fadeInUp" data-wow-delay="0.6s"></div>
            <div class="ml-container">
              <form action="{{ url_for('predict') }}" method="POST">
                <div class="col-xs-12">
                  <div
                    class="subscribe-form text-center wow fadeInUp"
                    data-wow-delay="0.6s"
                  >
                    <textarea
                      rows="7"
                      cols="70"
                      style="border: hidden;color: black;"
                      name="message"
                    ></textarea>
                  </div>
                </div>
                <div class="space-20"></div>

                <button
                  type="submit"
                  class="bttn-white wow fadeInUp"
                  data-wow-delay="0.8s"
                  value="predict"
                >
                  predict
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Home-Area-End -->
    <!--Vendor-JS-->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    <!--Plugin-JS-->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajaxchimp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <!--Main-active-JS-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
